body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Noto Sans', sans-serif;
}

#main-game {
    width: 600px;
    background-color: #184fb4;
    margin: 0 auto;
    color: white;
    padding: 25px;
    border-radius: 5px;
}

#score-board {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.scoreBoardElement {
    width: 50%;
    background-color: #5098eb63;
}

.score-title {
    font-size: 1.5em;
}

.score {
    font-size: 4em;
}

#buttons {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

button {
    font-family: 'Noto Sans', sans-serif;
}